*{
    padding: 0px;
    margin: 0px;
}

#projeto h1{
    margin: auto;
    padding: 15px;
}
.texto-projeto{
    text-align: justify;
    font-family: 'palanquin-regular';
    float: left;
    max-width: 50%;
    margin: auto;
    padding: 15px;
}
